<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf</title>
</head>
<body>

	<form action="#" th:action="@{/error}" method="post" th:object="${person}">
		<fieldset>
		 <legend>Legeend:</legend>


			<div th:if="${#fields.hasErrors('global')}">
				<h3>Global errors:</h3>
				<p th:each="err : ${#fields.errors('global')}" th:text="${err}"
					class="error" />
			</div>


			<table>
			<tr>
				<td><label th:text="Name"></label></td>
				<td><input th:field="*{name}" /></td>
			</tr>
			<tr>
				<td><label th:text="City"></label></td>
				<td>
					<select th:field="*{city}">
						<option th:value="'-1'">Please select...</option>
						<option th:value="'06'" th:text="Ankara"></option>
						<option th:value="'34'" th:text="Istanbul"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td><input type="submit" value="Save" /></td>
			</tr>
		</table>
		</fieldset>
	</form>
	
</body>
</html>